Release/
GitHubAwesomeator.xcodeproj/project.xcworkspace/xcuserdata/*
GitHubAwesomeator.xcodeproj/xcuserdata/*
GitHubAwesomeator.xcodeproj/xcuserdata/jmutter.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
GithubAwesomeatorChrome.pem
